FIREBASE_CLIENT_API_KEY=AIzaSyAtpySihbMHJWjxVkStP29IJpRJMjZUCOw
FIREBASE_CLIENT_AUTH_DOMAIN=kube-ec5b7.firebaseapp.com
FIREBASE_CLIENT_DATABASE_URL=https://kube-ec5b7.firebaseio.com
FIREBASE_CLIENT_PROJECT_ID=kube-ec5b7
FIREBASE_CLIENT_STORAGE_BUCKET=kube-ec5b7.appspot.com
FIREBASE_CLIENT_MESSAGING_SENDER_ID=858701129660
FIREBASE_CLIENT_APP_ID=1:858701129660:web:a53371dca7379807eaedb9
AXIOS_API_HOST=localhost
AXIOS_API_PORT=5000
AXIOS_API_PREFIX=/
